/*
// Place all the styles related to the weathers controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
*/
th {
  font-size: medium;
}
td {
  font-size: x-large;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
td.day {
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #AA6;
  color: #FFF;
}
.font-l {
  font-size: large;
}
.font-m {
  font-size: medium;
}
img {
  width: 50px;
  height: 50px;
}
img.s {
  width: 25px;
  height: 25px;
  margin-left: -10px;
  vertical-align: bottom;
}
.align-bottom {
  vertical-align: bottom;
}
.width_wrap {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
article {
/*  padding-top: 20px; */
  top: 30px;
  clear: both;
}
footer {
  clear: both;
}
